<head>
    <title>Telegram App</title>
</head>

<body>
    {{> telegram}}
</body>
<template name="telegram">
    {{> loginButtons }} {{#if isLoggedIn}} {{#if isInRole 'admin'}} {{> admin }} {{else}}
    <h1> Access denied </h1> {{/if}} {{ /if }}
</template>
<template name="admin">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">ChatID</th>
                    <th class="col-md-1">First Name</th>
                    <th class="col-md-1">Last Name</th>
                    <th class="col-md-9">Commands</th>                    
                </tr>
            </thead>
            <tbody>
                {{#each commandList }}
                <tr>
                    <td>{{ chat_id }}</td>
                    <td>{{ first_name }}</td>
                    <td>{{ last_name }}</td>
                    <td>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-md-4">Command</th>
                                <th class="col-md-4">Parameter</th>
                                <th class="col-md-4">Response</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            {{#each commands}}
                            <tr>
                                <td>{{ FormatCommand command 0 }}</td>
                                <td>{{ FormatCommand command 1}}<br>
                                    {{formatTs TS}}
                                </td>
                                <td>{{ res.message }}<br>
                                	{{formatTs res.TS}}	
                                </td>
                                                        
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    </td>              
                    
                </tr>
                {{/each }}
            </tbody>
        </table>
    </div>
</template>
